body {
	height: 100%;
	margin: 0;
	padding: 0;

	font-size: 14px;
	font-family: Arial, sans-serif;
}

hr {
	margin: 0;
	border: 0;
	height: 1px;
	background-color: #dfe1e5;
}

a,
button {
	cursor: pointer;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	max-width: 1500px;
	margin: 0 auto;
}

.header {
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.nav {
	margin-top: 15px;
	margin-right: 29px;
}
.nav__items {
	display: flex;
	margin-top: 5px;
	justify-content: flex-end;
	align-items: center;
}
.item {
	margin: 0 10px;
}
.nav__link {
	text-decoration: none;

	color: #707070;
	transition: color .3s linear;
}
.nav__link:hover {
	text-decoration: underline;
}
.nav__menu-img {
	height: 16px;

	opacity: 0.5;
	transition: color .3s linear;
}
.nav__menu-img:hover {
	opacity: 1;
}
.nav__sign_up {
	border-radius: 3px;
	border: none;
	background-color: #4486f6;
	color: white;
	padding: 8px 19px;
	text-align: center;
}
.nav__sign_up:hover {
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
}
.section {
	margin-top: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.logo img {
	width: 280px;
	padding-bottom: 30px;
}
.search-form__input input {
	width: 500px;
	height: 47px;
	border: 1px solid #dfe1e5;
	border-radius: 30px;
	background-color: transparent;
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg'),
		url('https://clipartart.com/images/voice-icon-clipart-2.png'),
		url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Keyboard-icon_Wikipedians.svg/1200px-Keyboard-icon_Wikipedians.svg.png');
	background-position: 15px 15px, 460px 12px, 415px 12px;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: 16px, 22px, 34px;
	padding-left: 40px;
	outline: none;
	transition: color .4s linear;
}
.search-form__input input:hover {
	border: 1px solid white;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.search-form__buttons button {
	margin-top: 20px;
	padding: 10px 20px;
	border-radius: 3px;
	border: 1px solid #dfe1e54b;
	background-color: #f4f4f4;
	color: #707070;
}
.search-form__buttons button:hover {
	border: 1px solid #afafaf;
}
.search-form_description {
	padding: 20px;
}
.search-form_description a {
	color: darkblue;
	text-decoration: none;
	transition: color .3s linear;
}
.search-form_description a:hover {
	text-decoration: underline;
}

.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	background: #f2f2f2;
}
.footer__items {
	color: #707070;
	padding: 15px 10px 15px;
	margin: 0 25px;
}

.footer__row1 {
	font-size: 15px;
	margin-bottom: 15px;
}

.footer__row2 a {
	text-decoration: none;
	color: #707070;
	padding-right: 15px;
}

.footer__row2 a:hover {
	text-decoration: underline;
}
.footer__row2 {
	margin-top: 15px;
	display: flex;

	justify-content: space-between;
}
